.ArticleCreatePageSidebar {
    width: 264px;
}

.icon {
    align-self: flex-start;
}

.text {
    border-bottom: 2px solid var(--icon-redesigned);
    width: 100%;
}

.list {
    list-style-type: disc;
}
