.color {
    color: var(--icon-redesigned);
}

.fill {
    fill: var(--icon-redesigned);
}

.noFill {
    fill: none;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.isGreen .Icon {
    color: var(--save-redesigned);
    fill: var(--save-redesigned);
}

.button:hover .Icon {
    color: var(--accent-redesigned);
}
